.todo-title {
    font-weight: 500;
    font-size: 1.5em;
}

.completed-todo {
    text-decoration: line-through;
    opacity: .5;
}

.custom-grid {
    --ion-grid-width: 540px;
}

.cursor {
    cursor: pointer;
}