<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="todo"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="large" slot="icon-only" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button size="large" slot="icon-only" (click)="confirmDelete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item lines="none">
      <ion-input debounce="1000" (ionChange)="updateTitle($event)" class="todo-title" [value]="(todo | async)?.title"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>
        {{ (todo | async)?.taskcount }} Task<span *ngIf="(todo | async)?.taskcount !== 1">s</span>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let task of (todo | async)?.tasks">
      <ion-checkbox [ngClass]="task.complete ? 'completed-todo' : ''" [checked]="task.complete" slot="start">
      </ion-checkbox>
      <ion-input [ngClass]="task.complete ? 'completed-todo' : ''" [value]="task.name" clear-input="true"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>