<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="todo"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="addForm">

    <ion-item>
      <ion-label position="floating">Todo</ion-label>
      <ion-textarea rows="7" formControlName="title"></ion-textarea>
    </ion-item>

    <div padding>
      <ion-button [disabled]="addForm.invalid" color="tertiary" expand="block" shape="round" size="small" (click)="addtodo()">Confirm</ion-button>
    </div>

  </form>

</ion-content>