<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="todo"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Todo</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <form>

    <ion-item>
      <ion-label position="floating">Todo</ion-label>
      <ion-textarea rows="7"></ion-textarea>
    </ion-item>

    <div padding>
      <ion-button color="tertiary" expand="block" shape="round" size="small">Confirm</ion-button>
    </div>

  </form>

</ion-content>