<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Todo</ion-title>
    <ion-buttons slot="end" *ngIf="auth.user$ | async as user">
      <ion-button size="small" slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-button *ngIf="filter" shape="round" fill="outline" size="small" (click)="clearFilter()">
      <em><small>Clear</small></em>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button size="small" slot="icon-only" (click)="filterActionSheet()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item *ngIf="!infinite">

    <ion-card>
      <ion-card-content>
        <p><strong text-center>LOADING...</strong></p>
      </ion-card-content>
    </ion-card>

  </ion-item>

  <ng-container *ngIf="infinite | async as todos">

    <cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="nextBatch($event, (todos[todos.length - 1].title))">

      <ion-card *cdkVirtualFor="let todo of todos; let i = index; trackBy: trackByIdx" (click)="todoActionSheet(todo.tid)" [id]="todo.tid">
        <ion-card-content>
          <p>
            <ion-icon [color]="todo.complete ? 'success' : 'primary'" [name]="todo.complete ? 'done-all' : 'refresh'"></ion-icon>
            {{todo.title}}
          </p>
          <ion-badge [color]="todo.complete ? 'success' : 'primary'">
            <small *ngIf="!todo.complete">Pending</small>
            <small *ngIf="todo.complete">Complete</small>
          </ion-badge>
          <small float-right>12/12/2009</small>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="theEnd">
        <ion-card-content>
          <p><strong text-center>END</strong></p>
        </ion-card-content>
      </ion-card>

    </cdk-virtual-scroll-viewport>

  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" size="small" (click)="todoAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>