<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Todo List</ion-title>
    <ion-buttons slot="end" *ngIf="auth.user$ | async as user">
      <ion-button size="small" slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-item *ngFor="let todo of todos | async;" (click)="viewTasks(todo.tid)">
      {{ todo.title }}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" size="small" (click)="todoAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>